<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html lang="cn" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=7">
    <title></title>
    <base href =""/>

</head>
<body>
    <script src="seajs/sea.js"></script>

    <script>
    seajs.config({
        alias: {
            "jquery": "js/tools/jquery-1.10.2.min.js",
            "jqueryColor": "js/tools/jquery.color-2.1.2.min.js"
        }
    });
    seajs.use("js/app/index/index.js");
</script>
</body>
</html>